.places__chapter {
  box-sizing: border-box;
  display: flex;
  padding-bottom: 80px;
}

.places__chapter:nth-of-type(3) {
  padding-bottom: 73px;
}

.places__chapter:nth-of-type(5) {
  padding-bottom: 0px;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .places__chapter {
    padding-bottom: 73px;
  }

  .places__chapter:nth-of-type(3) {
    padding-bottom: 72px;
  }
}

@media screen and (max-width: 767px) {
  .places__chapter {
    padding-bottom: 49px;
    flex-direction: column;
  }

  .places__chapter:nth-of-type(2) {
    padding-bottom: 20px;
  }

  .places__chapter:nth-of-type(3) {
    padding-bottom: 20px;
  }

  .places__chapter:nth-of-type(4) {
    padding-bottom: 45px;
  }
}