.footer__link {
  text-decoration: none;
  color: white;
  padding-right: 18px;
  font-weight: normal;
  font-size: 16px;
  line-height: calc(18 / 16);
  transition: text-shadow, color 1s ease;
}

.footer__link:hover {
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  color: #aaa;
}

@media screen and (max-width: 499px) {
  .footer__link {
    padding-right: 0;
    font-size: 24px;
    line-height: 56px;
  }
}