.place-card__title {
  margin: 0;
  font-weight: 900;
  font-size: 72px;
  line-height: calc(76 / 72);
  padding-bottom: 48px;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .place-card__title {
    font-size: 42px;
    line-height: 1.1;
    max-width: 330px;
  }
}

@media screen and (max-width: 767px) {
  .place-card__title {
    font-size: 32px;
    line-height: 35px;
    padding:0 16px 32px;
  }
}