.lead__caption {
  margin: 0;
  padding-top: 8px;
  align-self: flex-start;
  font-weight: normal;
  font-size: 10px;
  line-height: calc(14 / 10);
  letter-spacing: 0.15em;
  text-transform: uppercase;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .lead__caption {
    padding-left: 24px;
    line-height: 1.4;
  }
}

@media screen and (max-width: 767px) {
.lead__caption {
  padding-left: 16px;
  line-height: 1.4;
  }
}